@tailwind base;
@tailwind components;
@tailwind utilities;






:root {
    --font-primary: 'Magnolia Sans', sans-serif; 

    --color-primary: #b9fd50;
  }
  
  .font-primary {
    font-family: var(--font-primary);
  }


  .color-primary {
    color: var(--color-primary);
  }